<div class="card shadow">
    <div class="card-header">
        Balanço Mensal
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header text-white d-flex justify-content-between fs-5">
                        Receitas
                        {% comment %} <i class="bi bi-box-arrow-in-down"></i>   {% endcomment %}
                        <i class="bi bi-box-arrow-in-right fs-2"></i>   
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">R$ {{ receitas | floatformat:2 }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header text-white d-flex justify-content-between fs-5">
                        Despesas
                        {% comment %} <i class="bi bi-box-arrow-down"></i> {% endcomment %}
                        <i class="bi bi-box-arrow-right fs-2"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">R$ {{ despesas | floatformat:2 }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white {% if balanco > 0 %} bg-success {% else %} bg-danger {% endif %}
                        mb-3">
                    <div class="card-header text-white d-flex justify-content-between fs-5">
                        Balanço
                        {% if balanco > 0 %} <i class="bi bi-plus-circle fs-2"></i> {% else %} <i class="bi bi-dash-circle fs-2"></i> {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">R$ {{ balanco | floatformat:2 }}</h5>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>