<div class="card shadow">
    <div class="card-header">
        Opções Consulta
    </div>
    <div class="card-body">
        <form class="row" method="GET" action="{% url 'financeiro:financeiro' %}"> 
            <div class="col-md-6 mb-1">     
                <input name="ano" type="numeric" value="{{request.GET.ano}}" class="form-control"
                    placeholder="Ano"> 
            </div>
            <div class="col-md-6">
                <input name="mes" type="numeric" value="{{request.GET.mes}}" class="form-control"
                    placeholder="Mes">
            </div>
            <div class="col-md-12">
                <select class="form-select mb-2" name="categoria_id">
                    {% for categoria in categorias %}
                        <option value= "{{categoria.id}}" > {{categoria}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12 d-flex justify-content-between mb-2">
                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="bi bi-search"></i>
                    Pesquisar
                </button> 
                {% if request.GET.ano %}   
                    <a class="btn btn-sm btn-primary" href="{% url 'financeiro:financeiro' %}">
                        <i class="bi bi-x-circle"></i>
                        Limpar
                    </a>                 
                {% endif %}  
            </div>
        </form> 
    </div>
</div>

