<div class="col-md-12">  
    <div class="border-bottom border-2 border-success mt-3 mb-3"> 
        <h5>Vencidos e não pagos</h5>
    </div>
    <div class="table-responsive">
    {% if vencidos %}
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">Vencimento</th>
                    <th scope="col">Conta</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Pessoa</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Tipo</th>
                    <th scope="col" class="text-end">Valor</th>
                    <th scope="col" class="text-center">Pagar</th>
                </tr>
            </thead>
            <tbody>
                {% for vencido in vencidos %}
                <tr>
                    <th scope="row">{{ vencido.data_vencimento | date:'d/m/Y'}}</th>
                    <td>{{ vencido.conta }}</td>
                    <td>{{ vencido.categoria }}</td>
                    <td>{{ vencido.pessoa }}</td>
                    <td>{{ vencido.descricao | default_if_none:" "}}</td>
                    <td>{{ vencido.get_tipo_display }}</td>
                    <td class="text-end fw-bold">
                        {% if vencido.tipo == 'R' %}
                            <span class="text-success-bi">{{ vencido.valor | floatformat:2 }}</span>
                        {% else %} 
                            <span class="text-danger-bi">{{ vencido.valor | floatformat:2 }}</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'financeiro:pagamento-update' vencido.id %}">
                            <i class="bi bi-check2-circle text-success-bi fs-5"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Não existe movimento</p>
        {% endif %}
    </div>
</div>