{% extends 'base.html' %}
{% load static %}
{% block title %}
Sistema - Financeiro - Transferencia
{% endblock title %}

{% block nav-bar %}
{% include "financeiro/nav-financeiro.html" %}
{% endblock nav-bar %}

{% block content %}
{% load crispy_forms_tags %}
<div class="col-md-8 col-lg-8 offset-md-2 offset-lg-2 mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'sistema:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'sistema:sistema' %}">Aplicações</a></li>
        <li class="breadcrumb-item"><a href="{% url 'financeiro:financeiro' %}">Financeiro</a></li>
        <li class="breadcrumb-item"><a href="{% url 'financeiro:movimentos' %}">Movimento</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transferencia
        </ol>
    </nav>
    <div class="card chadow">
        <div class="card-header">
            <h5>Transferencia</h5>
        </div>
        <div class="card-body">
            <form method="post" novalidate >
                {% csrf_token %}
                <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                            {{ form.data_transferencia | as_crispy_field }} 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.conta_origem | as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.conta_destino | as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.categoria | as_crispy_field }} 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.pessoa | as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.valor | as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary me-3">
                        <i class="bi bi-check2-circle me-2"></i>
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}