{% extends 'base.html' %}
{% load static %}
{% block title %}
Sistema - Financeiro - Planejamento
{% endblock title %}

{% block nav-bar %}
{% include "financeiro/nav-financeiro.html" %}
{% endblock nav-bar %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'sistema:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'sistema:sistema' %}">Aplicações</a></li>
          <li class="breadcrumb-item"><a href="{% url 'financeiro:financeiro' %}">Financeiro</a></li>
          <li class="breadcrumb-item active" aria-current="page">Planejamento</li>
        </ol>
    </nav>
    <div class="card shadow mb-5">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Planejamento Mensal</h5>
        </div>
        <div class="card-body">
            {% if grupos %}
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Grupo</th>
                            <th scope="col" class="table-col-nome">Nome</th>
                            <th scope="col" class="text-end">Valor Planejado</th>
                            <th scope="col" class="text-end">Valor Realizado</th>
                            <th scope="col" class="text-end">Percentual</th>
                            <th scope="col" class="text-end">Progresso</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grupo in grupos %}
                        <tr class='text-primary fs-5'>
                            <td colspan="5">{{ grupo.nome }}</td>
                        </tr>
                            {% for cat in grupo.grupos.all %}
                            <tr> 
                                <td></td>
                                <td class="table-col-categoria">{{ cat.nome}}</td>
                                <td class="text-end fw-bold">
                                    {{ cat.valor_planejamento | floatformat:2 }}
                                </td>
                                <td class="text-end fw-bold">
                                    {{ cat.total_gasto | floatformat:2 }}
                                </td>    
                                <td class="text-end fw-bold">
                                    {{ cat.calcula_percentual_gasto_por_categoria|floatformat:2 }} %
                                </td> 
                                <td class="table-col-progresso">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Success example" style="width: {{cat.calcula_percentual_gasto_por_categoria|floatformat:0}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>                                
                                </td> 
                            </tr>
                            {% endfor %}
                            <tr class='tr-grupo'>
                                <td></td>
                                <td>Total do Grupo : {{ grupo.nome }}</td>
                                <td class="text-end fw-bold">
                                {{ grupo.total_planejamento_grupo | floatformat:2 }}                                </td>
                                <td class="text-end fw-bold">
                                {{ grupo.total_gasto_grupo | floatformat:2 }}                                </td>
                                <td class="text-end fw-bold">
                                    {% comment %}{{ grupo.total_gasto_grupo | floatformat:2 }}{% endcomment %}
                                </td>
                                <td class="text-end fw-bold">
                                    {% comment %}{{ grupo.total_gasto_grupo | floatformat:2 }}{% endcomment %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Não existe categoria cadastrada</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function update_valor_planejamento_categoria(id){
            valor = document.getElementById('valor-categoria-'+id).value
            fetch("/financeiro/update_valor_categoria/"+id, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",   
                },
                body: JSON.stringify({novo_valor: valor})
            }).then(function(result){
                return result.json()
            }).then(function(data){
                console.log(data)
            })
        }
    </script>

{% endblock %}
