{% extends 'base.html' %}
{% load static %}
{% block title %}
Sistema - Financeiro - Grupo
{% endblock title %}

{% block nav-bar %}
{% include "financeiro/nav-financeiro.html" %}
{% endblock nav-bar %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="col-md-6 col-lg-6 offset-md-3 offset-lg-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sistema:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'sistema:sistema' %}">Aplicações</a></li>
            <li class="breadcrumb-item"><a href="{% url 'financeiro:financeiro' %}">Financeiro</a></li>
            <li class="breadcrumb-item"><a href="{% url 'financeiro:grupos' %}">Grupos</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% if categoria %}Alteracão {% else %}Novo{% endif %}
            </li>
            </ol>
        </nav>
        <div class="card shadow">
            <div class="card-header">
                {% if grupo %}Alteração de {% else %}Novo {% endif %} Grupo
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.tipo | as_crispy_field }}
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.nome | as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="btn btn-primary me-3">
                            <i class="bi bi-check2-circle me-2"></i>
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}