{% extends 'base.html' %}
{% load static %}
{% block title %}
Sistema - Financeiro - Extratos
{% endblock title %}

{% block nav-bar %}
{% include "financeiro/nav-financeiro.html" %}
{% endblock nav-bar %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'sistema:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'sistema:sistema' %}">Aplicações</a></li>
        <li class="breadcrumb-item"><a href="{% url 'financeiro:financeiro' %}">Financeiro</a></li>
        <li class="breadcrumb-item active" aria-current="page">Extratos</li>
        </ol>
    </nav>
    <div class="card shadow mb-5">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center"> 
                Extrato Mensal Por Categorias
                <form class="d-flex gap-3 mt-2" action="{% url 'financeiro:extrato-mensal' %}" method="GET">          
                    <input name="ano" 
                        type="numeric" 
                        value="{{request.GET.ano}}" 
                        class="form-control me-2"
                        placeholder="Informe o ano"> 
                    <select class="form-select" name="conta">
                        <option value= "" selected> Todas as contas </option>
                        {% for conta in contas %}
                            <option value= "{{conta.id}}" > {{conta}} </option>
                        {% endfor %}
                    </select>
                    {% if request.GET.ano %}   
                    <a class="btn btn-primary" href="{% url 'financeiro:extrato-mensal' %}">Reset</a>                 
                    {% endif %}  
                    <button type="submit" class="btn btn-primary">Buscar</button> 
                </form> 
            </div>
        </div>
        <div class="card-body">
            {% if relatorio %}
            <div class="table-responsive">
                <table class="table table-sm table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Grupo</th>
                            <th scope="col">Categoria</th>
                            <th scope="col" class="text-end">Janeiro</th>
                            <th scope="col" class="text-end">Fevereiro</th>
                            <th scope="col" class="text-end">Março</th>
                            <th scope="col" class="text-end">Abril</th>
                            <th scope="col" class="text-end">Maio</th>
                            <th scope="col" class="text-end">Junho</th>
                            <th scope="col" class="text-end">Julho</th>
                            <th scope="col" class="text-end">Agosto</th>
                            <th scope="col" class="text-end">Setembro</th>
                            <th scope="col" class="text-end">Outubro</th>
                            <th scope="col" class="text-end">Novembro</th>
                            <th scope="col" class="text-end">Dezembro</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for grupo, categorias in relatorio.items %}
                            <tr class="text-primary fs-5">
                                <td colspan="14">{{ grupo }}</td>
                            </tr>
                            {% for categoria, meses in categorias.items %}
                                <tr>
                                    <td></td>
                                    <td scope="row">{{categoria }}</td>
                                    {% for mes, valores in meses.items %} 
                                        <td class="text-end fw-bold">
                                            {% if valores.total_mes == 0 %}
                                                
                                            {% else %}
                                                {{ valores.total_mes | floatformat:2 }}</span>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Não existe movimento</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
